@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>.NET 💜 Azure</h1>
    <p class="lead">Example .NET app to Azure App Service.</p>
</div>
<div>
    <h1>tester push til Git</h1>
</div>

<div>
    <h1>Hei Gaute :)</h1>
</div>

<div>
    <h1>Endring for å pushe til Git?</h1>
</div>

<div>
    <h1>ENDA EN Endring for å pushe til Git?</h1>
</div>

<div>
    <h1>ENDA ENDA EN Endring for å pushe til Git?</h1>
</div>
